body {
	margin: 0px;
	font-family: sans-serif;
}

div#top-bar {
	height: 35px;
	background-color: #abf;
}

div#control-bar {
	height: 50px;
	background-color: #ddd;
}

div#accounts {
	float: left;
	font-size: 14px;
	/*width: 20%;*/
}

div#transactions {
	float: left;
	font-size: 14px;
	width: 80%;
}

div#accounts > div.account > span.name {
	display: inline-block;
	width: 135px;
}

div#accounts > h3 {
	margin: 10px 0px;
}

div#transactions > div.transaction > input {
	border: none;
	margin: 0px;
	padding: 3px 0px;
	font-size: 13px;
	width: 140px;
}

div#transactions > div.transaction > input.item {
	width: 47%;
}

div#transactions > div.transaction > input.place {
	width: 10%;
}

div#transactions > div.transaction > input.amount {
	width: 10%;
}

div#transactions > div.transaction > input.date {
	width: 10%;
}

div#transactions > div.transaction > input.paid-by {
	width: 10%;
}

div#transactions > div.transaction > input.account {
	width: 10%;
}

div#transactions > div.header > span {
	width: 143px;
	display: inline-block;
}

div#transactions > div.header {
	font-size: 14px;
	padding: 3px 5px;
	color: #555;
}

div#transactions > div.transaction {
	border-top: 1px solid #ccc;
	padding: 0px 5px;
}

