<!--<div class="account">
	<span class="name">My History</span>
	<span class="balance">{{my_sum}}</span>
</div>-->
<h3>Outgoing</h3>
{{#outgoing}}	
<div class="account">
	<span class="name">{{name}}</span>
	<span class="balance">${{balance}}</span>
</div>
{{/outgoing}}
<h3>Incoming</h3>
{{#incoming}}	
<div class="account">
	<span class="name">{{name}}</span>
	<span class="balance">${{balance}}</span>
</div>
{{/incoming}}
<h3>Holding</h3>
{{#holding}}	
<div class="account">
	<span class="name">{{name}}</span>
	<span class="balance">${{balance}}</span>
</div>
{{/holding}}
